


   .leave-section-container {
    width: 80%;
    margin: auto;
    padding: 20px;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #f0f2f5;
    margin: 0;
    padding: 0;
  }
  


  /* Custom styles for DatePicker */
.custom-datepicker {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 8px 12px;
  font-size: 14px;
  width: 120px; /* Adjust width as needed */
  background-color: #A28089;
  position: relative;
}

.custom-datepicker::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  border: solid #888;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 3px;
  pointer-events: none;
  transform: rotate(45deg);
}
